body {
  background-color: #a4aaa9;
  font-family: 'Roboto Slab', serif;
}

.font_zilla {
  font-family: 'Zilla Slab Highlight', cursive;
  margin: auto;
}

/* Bootstrap card elements */
.container {
  margin-left: 3vw;
  margin-top: 2vw;
  width: auto;
}

.card-title {
  margin-left: 20px;
  color: #000000;
}

.contactCard {
  margin-left: 45vw;
}

.card {
  margin-left: 100px;
  margin-bottom: 40px;
  border: solid rgb(78, 75, 75);
}

.card-body {
  background-color: #a2bdb0;
}

/* Position and margins page elements*/
#title {
  margin-left: 180px;
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
}

#subtitle {
  margin-left: 220px;
}


.projects {
margin-bottom: 5vw;
}

.projects_background {
  background-color: rgb(111, 157, 228);
}

.row3 {
  margin-top: 20px;
  margin-right: 50px;
  float: right;
}

#technology_title {
  width: 75%;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 20px;  
}

.technologies {
  border: solid black;
  background-color: rgb(111, 157, 228);
  border-width: 20px;
  margin-bottom: 200px; 
  margin-top: 130px; 
  margin-left: 100px;
  padding-top: 20px;
}

.technologies h3 {
  margin-bottom: 18px;
}

/* Size and position images */
#profile {
  display: block;
  width: 10%;
  margin-left: 5px ;
  position:absolute;
}

#tech_img {
  margin-left: 90px;
}

#rightarrow {
  width: 5%;
  margin-left: 200px;
}

#html {
  width: 15%;
}

#css {
  margin-top: 13px;
  width: 11%;
}

#bootstrap {
  margin-left: 10px;
  margin-top: 8px;
  width: 12%;
}